@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";
@import "prismjs/themes/prism.css";


:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  font-size: 60%;
  background-color:#f5feff;
}

@layer base {

  body {
    font-family: 'Dongle', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.0;
    overflow: hidden;
  }

  h1 {
    font-size: 1.75em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.3em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.05em;
    font-weight: bold;
  }
}
